name: Update Documentation
on:
  push:
  pull_request:
  schedule:
    - cron: '0 4 * * 1-5'

jobs:
  format_checks:
    name: Format Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - run: pip install pre-commit==4.5.0
      - run: pre-commit run check-yaml --all-files
      - run: pre-commit run end-of-file-fixer --all-files
      - run: pre-commit run trailing-whitespace --all-files
      - run: pre-commit run check-json --all-files

  python_checks:
    name: Python Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - run: pip install pre-commit==4.5.0
      - run: pre-commit run black --all-files
      - run: pre-commit run isort --all-files
      - run: pre-commit run flake8 --all-files
      - run: pre-commit run mypy --all-files

  shell_checks:
    name: Shell Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: pip install pre-commit==4.5.0
      - run: pre-commit run shellcheck --all-files

  markdown_checks:
    name: Markdown Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
      - run: gem install mdl
      - run: pip install pre-commit==4.5.0
      - run: pre-commit run check-markdown --all-files
      - run: pre-commit run check-file-names --all-files
      - run: pre-commit run codespell --all-files

  vale_checks:
    name: Vale Style Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - run: pip install vale==3.13.0.0 pre-commit==4.5.0
      - run: pre-commit run vale --all-files

  build:
    name: Build
    needs: [format_checks, python_checks, shell_checks, markdown_checks, vale_checks]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          repository: rucio/rucio
          ref: master
          path: tools/run_in_docker/rucio
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install rucio-api generation dependencies and build markdown sites for the API
        run: |
          python3 -m pip install -U pip setuptools
          python3 -m pip install -U -r tools/requirements.txt
          docker login https://docker.pkg.github.com -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
          ./tools/build_documentation.sh
          docker logout https://docker.pkg.github.com
      - name: Install dependencies and static website
        run: |
          cd website
          yarn install
          yarn build
      - uses: actions/upload-artifact@master
        with:
          name: documentation-artifacts
          path: website/build
  deploy:
    name: Deploy
    needs: build
    if: github.ref == 'refs/heads/main' || github.event_name == 'schedule'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@master
        with:
          name: documentation-artifacts
          path: website/build
      - name: Push to Github Pages branch
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./publish.sh
